<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HTMX Demo</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <link href="/dist/output.css" rel="stylesheet" /> -->
  </head>
  <body class="m-5" id="theme">
    <!-- on the meantime will add classes that come from the server to build them and have them available from the server -->
    <div class="hidden overline border-2 border-blue-500 flex h-auto"></div>
    <section class="container mx-auto">
      <h1 class="text-3xl font-bold underline">Random Pokemon</h1>
    </section>
    <button
      id="toggle-button"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
      hx-target="#content"
      hx-post="/toggle"
      hx-trigger="click"
    >
      Toggle Content
    </button>
    <div id="content">This is hidden by default</div>
    <button
      id="fetch-pokemon"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
      hx-target="#pokemon"
      hx-get="/pokemon/ditto"
      hx-trigger="click"
    >
      Get random pokemon
    </button>
    <div id="pokemon"></div>
  </body>
</html>
